.quantity {
  padding: 3px;
  position: relative;
  top: -0.5em;
}

a {
  position: relative;

  .cart-preview {
    background-color: var(--cx-color-background-focus);
    color: var(--cx-color-light);
    display: none;
    position: absolute;
    right: 0px;
    width: 200px;
  }

  &:hover {
    .cart-preview {
      display: block;
    }
  }
}
